.footer__box {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.content__block {
  max-width: 460px;
  flex-wrap: wrap;
  padding: 0;
}

@media(max-width: 970px) {
  .footer__box {
    justify-content: center;
    margin: 0;
  }

  .content__block {
    width: 90%;
  }
}

@media(max-width:800px) { 
  .footer__email div {
    display: none;
  }

  .footer__phone div {
    display: none;
  }
}